

.resulte-of-the-liste {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 0px var(--blue-noch-dark);
  overflow: hidden;
  background: var(--dark-card);
}

ul li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  color: var(--text-light);
  font-size: 1.1rem;
  box-shadow: 0px 0px 1px 0px rgb(98, 98, 98);
 background-color:var(--task-background);
 text-align: center;
 background-color: rgb(6, 53, 88);
 padding-block: .5rem;
 margin-top: .5rem;
 cursor: pointer;
 
 
}

li p {
  border: solid 1px var(--border-light);
    border-radius: .2rem;
}



.product-detels-title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  box-shadow: 0px 0px 1px 0px rgb(98, 98, 98);
  color: aliceblue;
  text-align: center;
}

.product-detels-title p {
  border: solid 1px var(--border-light);
   padding-block: 1rem;

}

.article-info {
     display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}

/* Informações extras (Data e Preço Unitário) */
.article-meta-info {
  display: flex; 
  gap: 1rem;
  align-items: flex-end; /* Alinha o texto à direita */
  justify-content: center;
  font-size: 0.9em; 
  color: var(--text-muted, #8b949e); 
}


.some {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #f1f1f1;
  font-size: 1.1rem;
}





