@media (max-width: 1280px) {
    main {
        display: grid;
        grid-template-columns: 1fr ;
        padding: 1rem  6rem;

    }

  .title-content {
   flex-direction: column!important;
    gap: 10px;
}

}



@media (max-width: 768px) {

.edit-div {
  & input {
    padding-inline: 0;
    text-align: center;
    font-size: .9rem;
  }
}



  ul li .product-detels {
    display: grid;
    grid-auto-flow: column;
   
  }




  .product-manipution button {
    width: 100%;
  }
}

@media (max-width: 480px) {

    main {
        padding: 1rem .5rem;
    }


  .product-manipution {
    padding-inline: 0.5rem;
  }

  .product-manipution button {
    font-size: 0.9rem;
    height: 2.5rem;
  }

  #result-to-print {
    & p {
      font-size: 0.6rem;
     }
  }


  .product-detels-title p {
  
    padding-block: 0;
   font-size: 0.9rem;
}


.article-meta-info {

  & span {
    font-size: 0.6rem;

  }
}

.some {
  & p {
    font-size: 0.7rem;
}

}
}

