.footer {
  grid-column: 1 / -1; /* Faz ocupar todas as colunas do grid */

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;



 
  color: #f1f1f1;
  text-align: center;
  font-family: var(--font-inter, sans-serif);
  font-size: .8rem;
 
 height: 5rem;
}