@media (max-width: 1280px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem ;
    }


}



/* ===================== */
/* RESPONSIVIDADE        */
/* ===================== */

@media (max-width: 768px) {

.edit-div {
  & input {
    padding-inline: 0;
    text-align: center;
    font-size: .9rem;
  }
}

li {

}
  .product-detels-title {
   padding-inline: .5rem;
  }

  ul li .product-detels {
    display: grid;
    grid-auto-flow: column;
   
  }

  ul li p {
    text-align: left;
  }



  .product-manipution button {
    width: 100%;
  }
}

@media (max-width: 480px) {


  .product-manipution {
    padding-inline: 0.5rem;
  }

  .product-manipution button {
    font-size: 0.9rem;
    height: 2.5rem;
  }
}