.resulte-of-the-liste {
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 0px rgb(105, 175, 255);
  overflow: hidden;
}

/* LISTA DE ITENS */
ul {
  display: grid;
  gap: 0.5rem;
}

ul li {
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* DETALHES DO PRODUTO */
ul li .product-detels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding-block: 0.4rem;
  cursor: pointer;
  outline: none;
}

ul li p {
  padding: 0.3rem;
  text-align: center;
  justify-self: center;
}

.product-detels.active {
  box-shadow: 0px 0px 20px 0px rgb(105, 175, 255);
  border-radius: 4px;
}

/* CABEÇALHO */
.product-detels-title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding-block: 1rem;
  background-color: var(--blue-light);
  border-bottom: solid 1px white;
}

.product-detels-title p {
  color: aliceblue;
  text-align: center;
}

/* SCROLL PERSONALIZADO */
#result-to-print {
  display: grid;
  gap: 0.5rem;
  overflow-y: auto;
  max-height: 700px;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 44, 202, 0.655) transparent;
}

/* Chrome, Edge e Safari */
#result-to-print::-webkit-scrollbar {
  width: 8px;
}

#result-to-print::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

#result-to-print::-webkit-scrollbar-thumb {
  background-color: rgba(0, 142, 202, 0.5);
  border-radius: 4px;
  border: 2px solid transparent;
}

#result-to-print::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 142, 202, 0.8);
}

/* BOTÕES DE AÇÃO */
.product-manipution {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: 5rem;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-block: 0;

  border-top: solid 1px white;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding-block 0.5s ease;
}

.product-manipution button {
  border: none;
  width: 10rem;
  height: 2rem;
  background: var(--blue-light);
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
}

.product-manipution.active {
  max-height: 100px; /* abre suavemente */
  opacity: 1;
  padding-block: 0.4rem;
 
}


