@media (max-width: 1280px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    
.product-manipution {
 
}

#result-of-print {
    height: 4rem;
}

.product-detels {
    height: 4rem;
}

}