

/* Fonte */
@import url(./mobile.css);

:root {
  --blue-light: #1c1c1c;
  --blue-dark: #333334;
  --blue-noch-dark: #004fa8;
  --white: #FFFFFF;
  --yellow: #FFD233;
  --yellow-dark: #E6B800;

  --font-family: "Nunito", sans-serif;
}

body {
  background-color: black;
  font-family: var(--font-family);
}

li {
  list-style: none;
}

form {
  padding-block: 1rem;
}

/* Fundo com imagem */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

h1,
span {
  color: var(--white);
}

h1 {
  font-weight: bold;
}

span {
  font-weight: bold;
}

/* Menu principal */
.app-menu {
  display: grid;
  align-items: center;
  grid-template-rows: max-content;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 5rem;
  height: 100%;
 
  gap: 1rem;
 
  box-shadow: 0px 0px 20px 0px rgb(105, 175, 255);
}

.title {
  display: grid;
  justify-content: center;
}

.title img {
  height: 4rem;
  justify-self: center;
  transform: rotate(90deg);
}

.menu-items {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  gap: 1rem;
}

.menu-items p {
  display: block;
  text-align: left;
}

/* Botão de adicionar */
.btnAdd {
  justify-self: center;
}

#btnAdd {
  justify-self: center;
  width: 10rem;
}



/* Área do formulário */
.menu-artikelverwaltung {
  display: grid;
  grid-auto-flow: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 1rem;
}

.menu-artikelverwaltung span {
  padding-inline: 0.5rem;
}

.menu-artikelverwaltung input,
.menu-artikelverwaltung select {
  padding-inline: 0.5rem;
  border: 2px solid var(--blue-noch-dark);
}

.menu-artikelverwaltung button {
  justify-self: center;
}

.menu-artikelverwaltung p {
  display: flex;
  justify-content: space-between;
}

/* Botões de editar/deletar */
.edit-delete {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  background-color: #5f6f87;
  border-radius: 2rem;
  gap: 2rem;
  align-items: center;
}

.edit-delete button {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(89, 89, 89);
  border: 1px solid white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.edit-delete button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgb(105, 175, 255);
}

.edit-delete img {
  width: 1rem;
}


.scroll-wrapper {
  max-height: 350px;
}

#list {
  max-height: 400px;
  overflow: auto;
  border-radius: 1rem;
}

.scroll-wrapper table thead th {
  position: sticky;
  top: 0;
  background-color: var(--blue-noch-dark);
  color: var(--white);
  z-index: 2;
  border-bottom: 1px solid #ccc;
}

input,
select,
button {
  width: 100%;
}
